@font-face {
  font-family:forge;
  src: url(components/imagens/fontes/Forque.ttf);
  font-weight: normal;
  font-style: normal;
  
}
@font-face {
  font-family:bernier;
  src: url(components/imagens/fontes/BERNIER™\ Regular.ttf);
  font-weight: normal;
  font-style: normal;
}